.container {
  padding: 1rem 15%;
  border-bottom: 1px solid var(--border-color);
}

.title {
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial;
}

.interestsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1.1rem ;
}
.interest {
    font-size: 16px;
    list-style-type:square;
    padding: 5px;
    width: fit-content;
}

.interest::first-letter {
  text-transform: uppercase;
}

.interest:hover {
  color: var(--border-color);
  background-color: antiquewhite;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem 10%;
  }

   .interest {
     font-size: 14px;
  }
}

