.container {
  display: flex;
  padding: 1rem 15%;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.container p:nth-child(2) {
  text-align: justify;
  padding: 1.3rem;
  background-color: var(--bg-highlight-color);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.container p:nth-child(2):hover {
  background-color: var(--bg-highlight-color-plus);
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.container p:not(:last-child) {
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem 10%;
  }
}
