:root {
  --title-color: rgb(163, 3, 3);
  --border-color: rgb(163, 3, 3, 0.8);
  --bg-highlight-color: rgba(154, 226, 226, 0.692);
  --bg-highlight-color-plus: rgba(154, 226, 226, 0.9);
  --bg-color: #f0ffff;
}

[data-theme='dark'] {
  --title-color: rgb(163, 3, 3);
    --border-color: rgb(163, 3, 3, 0.8);
    --bg-highlight-color: rgba(8, 58, 58, 0.5);
    --bg-highlight-color-plus: rgba(8, 58, 58, 0.7);
    --bg-color: rgba(8, 58, 58, 0.1);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--bg-color);
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  
}



a {
  color: inherit;
  text-decoration: none;
}


