:root {
  --title-color: #E2856E;
  --border-color: rgba(226, 133, 110, 0.582);
  --bg-highlight-color: rgba(89, 165, 216, 0.466);
  --bg-highlight-color-plus: rgba(89, 165, 216, 0.7);;
  --bg-color: rgba(89, 165, 216, 0.1);
}

[data-theme='dark'] {
  --title-color: #ECEBE4;
    --border-color: #ecebe481;
    --bg-highlight-color: rgba(27, 23, 37, 0.466);
    --bg-highlight-color-plus: rgba(27, 23, 37, 0.7);
    --bg-color: rgba(27, 23, 37, 0.1);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--bg-color);
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  
}



a {
  color: inherit;
  text-decoration: none;
}


