.notOpacity {
  opacity: 0;
}

.opacity {
  opacity: 1;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

.topContainer {
  padding: 1rem 15%;
  display: flex;
  justify-content: space-between;
}

.userButton {
  background: transparent;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .topContainer {
    padding: 0.5rem 10%;
  }
}
